@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --background: #ffffff;
  --foreground: #111113;
}

.dark {
  --background: #111113;
  --foreground: #c8c8c8;
}

.light ::-webkit-scrollbar{width: 7px !important; height: 7px !important;}
.light ::-webkit-scrollbar-track{background: #fff;}
.light ::-webkit-scrollbar-thumb{background: #ccc;}

.dark ::-webkit-scrollbar{width: 7px !important; height: 7px !important;}
.dark ::-webkit-scrollbar-track{background: #171717;}
.dark ::-webkit-scrollbar-thumb{background: #444;}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.ReactCollapse--collapse {
  transition: height 300ms ease;
}

.card{
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 10px;
}
.dark .MuiSelect-root{color: #fff !important;}
.dark .MuiSelect-root fieldset{border-color: rgba(255,255,255,0.3) !important;}
.dark .MuiPaper-elevation{background: #25252a !important;}
.dark .MuiPaper-elevation *{color:rgba(255,255,255,0.8) !important;}
.MuiPaper-elevation *{font-size: 14px !important;}

.dark .MuiSelect-iconOutlined{color:rgba(255,255,255,0.8) !important;}

.actions button{
  border: 1px solid rgba(0,0,0,0.2) !important;
}
.dark .actions button{
  border: 1px solid rgba(255,255,255,0.2) !important;
}
.MuiTableHead-root th{
  background: #f1f1f1 !important;
  font-weight: 600 !important;
  padding: 12px 16px !important;
}
.dark thead.MuiTableHead-root th{
  background: #1f1f1f !important;
  color: rgba(255,255,255,0.8) !important;
  border-bottom: 1px solid rgba(255,255,255,0.1) !important;
}

.dark table tr td{
    color: rgba(255,255,255,0.8) !important;
      border-bottom: 1px solid rgba(255,255,255,0.1) !important;


}

.dark .MuiTablePagination-selectLabel,
.dark .MuiSelect-icon,
.dark .MuiTablePagination-displayedRows,
.dark .MuiIconButton-root
{
   color: rgba(255,255,255,0.8) !important;
   
}

.dark .MuiIconButton-root .Mui-disabled
{
   color: rgba(255,255,255,0.3) !important;
}

.btn-border{
  border: 1px solid rgba(0,0,0,0.2) !important;
  color: #151515 !important;
  font-weight: 600 !important;
}
.dark .btn-border{
  border: 1px solid rgba(255,255,255,0.2) !important;
  color: #f1f1f1 !important;
}

.dark .btn-border:hover{
  border: 1px solid rgba(255,255,255,0.4) !important;
}

.btn-dark{
  background: #151515 !important;
  color: #f1f1f1 !important;
  font-weight: 600 !important;
}

.dark .btn-dark{
  background: #f1f1f1 !important;
  color: #151515 !important;
}

.dark .btn-dark:hover{
  background: #fff !important;
  color: #151515 !important;
}

.dark .MuiCheckbox-root{
  color: rgba(255,255,255,0.8) !important;
}

.dark .MuiRating-icon .MuiRating-iconEmpty{
color: rgba(255,255,255,0.3) !important;
}

