@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --background: #ffffff;
  --foreground: #111113;
}

.dark {
  --background: #111113;
  --foreground: #c8c8c8;
}

.light ::-webkit-scrollbar{width: 5px !important; height: 5px !important;}
.light ::-webkit-scrollbar-track{background: #fff;}
.light ::-webkit-scrollbar-thumb{background: #ccc;}

.dark ::-webkit-scrollbar{width: 5px !important; height: 5px !important;}
.dark ::-webkit-scrollbar-track{background: #171717;}
.dark ::-webkit-scrollbar-thumb{background: #444;}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.ReactCollapse--collapse {
  transition: height 300ms ease;
}

