@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --background: #ffffff;
  --foreground: #111113;
}

.dark {
  --background: #111113;
  --foreground: #c8c8c8;
}

.light ::-webkit-scrollbar{width: 5px !important; height: 5px !important;}
.light ::-webkit-scrollbar-track{background: #fff;}
.light ::-webkit-scrollbar-thumb{background: #ccc;}

.dark ::-webkit-scrollbar{width: 5px !important; height: 5px !important;}
.dark ::-webkit-scrollbar-track{background: #171717;}
.dark ::-webkit-scrollbar-thumb{background: #444;}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.ReactCollapse--collapse {
  transition: height 300ms ease;
}

.card{
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 10px;
}
.dark .MuiSelect-root{color: #fff !important;}
.dark .MuiSelect-root fieldset{border-color: rgba(255,255,255,0.3) !important;}
.dark .MuiPaper-elevation{background: #25252a !important;}
.dark .MuiPaper-elevation *{color:rgba(255,255,255,0.8) !important;}
.MuiPaper-elevation *{font-size: 14px !important;}